	.aaaa15{
		/*background-color: orange;*/
	}
	.aaaa15 li{
		padding: 0 16px;
		list-style: none;
		display: inline-block;
		text-align:center;
	}
	body{
		font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
		padding: 0;
		margin: 0;
		font-size: 14px;
	}
	#flower1:after{
		content:"";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	#f1:after{
		content:"";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	#f112:after{
		content:"";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	#f1:after{
		content:"";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	#aas ul li{
		list-style: none;
		line-height: 25px;
		font-size: 16px;
		color: gray;
	}
	#aas ul li a{
		color: gray;
		font-weight: 40px;
	}
	#pp:after{
		content:"";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	#box ul li{
		list-style: none;
		float: left;
	}